{% extends 'base.html.twig' %} {% block title %}Hello MainController! {%
endblock %} {% block body %}

<header>
  <img src="{{ asset('build/images/arc-de-triomphe.jpg') }}" alt="" />
  <div>
    <h1>SENSIBILISATION</h1>
    <P>
      Différentes thématiques liées à la sécurité et sûreté de manière générale
      sont dispensées avec ADESS. Ces sensibilisations rentrent dans le cadre
      d’une compréhension, acculturation, et d’intelligence pour le concitoyen.
    </P>
  </div>
  <div></div>
  <div></div>
  <div></div>
</header>

{% endblock %}
