{% extends 'base.html.twig' %} {% block title %}Hello MainController! {%
endblock %} {% block body %}

<header>
  <img src="{{ asset('build/images/arc-de-triomphe.jpg') }}" alt="" />
  <h1>
    Citoyen, sensibilisez et formez-vous <br />
    à la sécurité avec les acteurs privés et publics !
  </h1>
  <section>
    <div>
      <h2>SENSIBILISATION</h2>
      <P>
        Différentes thématiques liées à la sécurité et sûreté de manière
        générale sont dispensées avec ADESS. Ces sensibilisations rentrent dans
        le cadre d’une compréhension, acculturation, et d’intelligence pour le
        concitoyen.
      </P>
    </div>
    <div>
      <h2>SENSIBILISATION</h2>
      <P>
        Différentes thématiques liées à la sécurité et sûreté de manière
        générale sont dispensées avec ADESS. Ces sensibilisations rentrent dans
        le cadre d’une compréhension, acculturation, et d’intelligence pour le
        concitoyen.
      </P>
    </div>
    <div>
      <h2>SENSIBILISATION</h2>
      <P>
        Différentes thématiques liées à la sécurité et sûreté de manière
        générale sont dispensées avec ADESS. Ces sensibilisations rentrent dans
        le cadre d’une compréhension, acculturation, et d’intelligence pour le
        concitoyen.
      </P>
    </div>
    <div>
      <h2>SENSIBILISATION</h2>
      <P>
        Différentes thématiques liées à la sécurité et sûreté de manière
        générale sont dispensées avec ADESS. Ces sensibilisations rentrent dans
        le cadre d’une compréhension, acculturation, et d’intelligence pour le
        concitoyen.
      </P>
    </div>
  </section>
</header>

{% endblock %}
