<nav>
  <a href="{{ path('app_main') }}"
    ><img src="{{ asset('build/images/log-adess-bleu-europe.png') }}" alt=""
  /></a>
  <ul>
    <li>BOUTIQUE</li>
    <li>RESSOURCES</li>
    <li>ANNUAIRE</li>
    <li>
      <a href="{{ path('app_login') }}">CONNEXION</a>
    </li>
  </ul>
</nav>
